<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DXThemeManager" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
  </startup>
  <connectionStrings>
    <add name="OrdersEntities" connectionString="metadata=res://*/OrderManagementEntity.csdl|res://*/OrderManagementEntity.ssdl|res://*/OrderManagementEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ips1\mssqlserver2014;initial catalog=Orders;user id=sa;password=ips12345;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <entityFramework>
    <!--<defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />-->
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <userSettings>
    <DXThemeManager>
      <setting name="ApplicationThemeName" serializeAs="String">
        <value>Office2016White</value>
      </setting>
    </DXThemeManager>
  </userSettings>
  <log4net>
    <appender name="SmtpAppender" type="log4net.Appender.SmtpAppender">
      <to value="dev2.itpathsolutions@gmail.com"/>
      <from value="dev3.itpathsolutions@gmail.com"/>
      <subject value="OrderManagement - Error log"/>
      <smtpHost value="smtp.gmail.com"/>
      <authentication value="Basic"/>
      <port value="587"/>
      <username value="dev3.itpathsolutions@gmail.com"/>
      <password value="ips12345"/>
      <bufferSize value="1"/>
      <EnableSsl value="true"/>
      <lossy value="true"/>
      <evaluator type="log4net.Core.LevelEvaluator">
        <threshold value="ERROR"/>
      </evaluator>
      <layout type="log4net.Layout.PatternLayout">
        <!--<conversionPattern value="%level %date - %message%newline" />-->
        <conversionPattern value="%property{log4net:HostName} :: %level :: %message            %newlineLogger: %logger%newlineThread: %thread%newlineDate:            %date%newlineNDC: %property{NDC}%newline%newline"/>
      </layout>
    </appender>
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <file value="logs\"/>
      <appendToFile value="true"/>
      <datePattern value="'Order'.dd.MM.yyyy'.log'"/>
      <rollingStyle value="Date"/>
      <staticLogFileName value="false"/>
      <maximumFileSize value="500KB"/>
      <maxSizeRollBackups value="2"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level %logger - %message%newline"/>
      </layout>
    </appender>
    <logger name="Order">
      <level value="DEBUG"/>
    </logger>
    <logger name="SmtpAppender">
      <level value="ERROR"/>
      <appender-ref ref="SmtpAppender"/>
    </logger>
    <root>
      <level value="All"/>
      <appender-ref ref="RollingFile"/>
      <appender-ref ref="SmtpAppender"/>
    </root>
  </log4net>
</configuration>
